DJANGO_SECRET_KEY=change-me-generate-a-random-key
ALLOWED_HOSTS=*

NEO4J_HOST=search-neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=change-me
NEO4J_PORT=7687
NEO4J_SCHEME=bolt

MONGO_DB_HOST=search-mongo
MONGO_DB_PORT=27017
MONGO_DB_NAME=centinela
MONGO_DB_USERNAME=centinela
MONGO_DB_PASSWORD=change-me
MONGO_AUTH_SOURCE=admin

X_ELS_APIKEY=
X_ELS_INSTTOKEN=
X_ELS_AUTHTOKEN=

DEBUG=True
ADMIN_CENTINELA=
PASSWORD_CENTINELA=
